


.tt{
    display: flex;
    justify-content: center;
    flex-direction: row;
   
  }
  h1{
  
    margin-bottom: 10px;
    align-self:center ;
  }
body{
    margin: 0px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    background-color: #313131;
}


.tools .button:hover {
    color:gold;
    background-color: transparent;
  
  }

canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
   
}


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size:50px;
  }
  a:visited {
    color:white;
    background-color: transparent;
    
  }
  a:hover {
    color:gold;
    background-color: transparent;
    
  }




.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}




.tools .color-field{
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
   
    border:2px solid white;
    align-self:center;
    margin: 0 10px;
}


.tools .button{
    align-self:center ;
    width:100px;
    height:40px;
    border:2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 10px;
}

.pen-range{
    align-self: center;
    margin:0 10px
}

  
  

